<!-- Begin Page Content -->
<div class="container-fluid">

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tambahPemilih">Tambah data</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>No Identitas</th>
              <th>Nama Lengkap</th>
              <th>Password</th>
              <th>Status</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% let no=1; %>
              <% data.forEach(pemilih => { %>
                <tr>
                  <td>
                    <%= no++ %>
                  </td>
                  <td>
                    <%= pemilih.no_identitas %>
                  </td>
                  <td>
                    <%= pemilih.nama_lengkap %>
                  </td>
                  <td>
                    <%= pemilih.password %>
                  </td>
                  <td>
                    <%= pemilih.status === 1 ? 'Adminstrator' : 'Pengguna' %>
                  </td>
                  <td>
                    <button type="button" style="border: none;" data-target="#editPemilih<%= pemilih.no_identitas %>" data-toggle="modal"
                      class="badge badge-warning">edit</button>

                    <!-- Modal -->
                    <div class="modal fade" id="editPemilih<%= pemilih.no_identitas %>" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><%= pemilih.nama_lengkap %></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form method="POST" action="/pemilih/update?_method=PATCH">
                            <div class="modal-body">
                              <input type="hidden" name="no_identitas" value="<%= pemilih.no_identitas %>">
                              <div class="form-group">
                                <label>Nama Lengkap</label>
                                <input type="text" class="form-control" name="nama_lengkap"
                                  value="<%= pemilih.nama_lengkap %>">
                              </div>
                              <div class="form-group">
                                <label>Password</label>
                                <input type="text" class="form-control" name="password"
                                value="<%= pemilih.password %>">
                              </div>
                              <div class="form-group">
                                <label>Status</label>
                                <select name="status" class="form-control">
                                  <option value="<%= pemilih.status %>"><%= pemilih.status === 0 ? 'Adminstrator' : 'Pengguna' %></option>
                                  <% if(pemilih.status === 0) { %>
                                    <option value="1">Pengguna</option>
                                  <% } else { %>
                                    <option value="0">Administrator</option>
                                  <% } %>
                                </select>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                              <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                    <form action="/pemilih/hapus?_method=DELETE" method="POST" class="d-inline">
                      <input type="hidden" name="no_identitas" value="<%= pemilih.no_identitas %>">
                      <button type="submit" class="badge badge-danger" style="border: none;">hapus</button>
                    </form>
                  </td>
                </tr>
                <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<!-- Modal -->
<div class="modal fade" id="tambahPemilih" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Tambah Pemilih</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/pemilih/tambah">
        <div class="modal-body">
          <div class="form-group">
            <label>No. Identitas</label>
            <input type="text" class="form-control" name="no_identitas" placeholder="Tambah no. identitas disini...">
          </div>
          <div class="form-group">
            <label>Nama Lengkap</label>
            <input type="text" class="form-control" name="nama_lengkap" placeholder="Tambah nama lengkap disini...">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" name="password" placeholder="Tambah password disini...">
          </div>
          <div class="form-group">
            <label>Status</label>
            <select name="status" class="form-control">
              <option selected>Pilih</option>
                <option value="0">Administrator</option>
                <option value="1">Pengguna</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</div>