<!-- Begin Page Content -->
<div class="container-fluid">

  <div class="row">
    <% data.forEach(paslon => { %>
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <div class="card-header text-center">
            <h5><span class="badge badge-danger">No. urut <%= paslon.no_urut %></span></h5>
          </div>
          <div class="card-body">
            <img src="<%= paslon.image %>" class="card-img-top">
            <div class="text-center mt-3">
              <h5 class="font-weight-bold"><%= paslon.Ketua.nama_lengkap %> & <%= paslon.Wakil.nama_lengkap %></h5>
              <span class="font-weight-reguler"><%= paslon.Ketua.kelas %> & <%= paslon.Wakil.kelas %></span>
            </div>
          </div>
          <div class="card-footer">
            <form action="/pemilihan/tambah" method="POST" class="d-inline">
              <input type="hidden" name="pemilih_id" value="<%= user.no_identitas %>">
              <input type="hidden" name="paslon_id" value="<%= paslon.id %>">
              <button type="submit" class="btn btn-primary btn-block">Pilih</button>
            </form>
          </div>
        </div>
      </div>
      <% }) %>
  </div>



</div>
<!-- /.container-fluid -->